body {
    font-family: Arial, sans-serif;
    background-color: #fff5f8;
    color: #333333;
    margin: 0;
}

header {
    background-color: #f5d6e0;
    text-align: center;
    padding: 25px;
}

header img {
    border-radius: 50%;
}

h1 {
    color: #8f4963;
}

h2 {
    color: #8f4963;
}

h3 {
    color: #a85f79;
}

main {
    width: 80%;
    margin: auto;
}

section {
    background-color: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
}

p {
    line-height: 1.5;
}

ul {
    line-height: 1.8;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #f5d6e0;
}

th,
td {
    border: 1px solid #cccccc;
    padding: 10px;
    text-align: left;
}

section img {
    border-radius: 8px;
}

footer {
    background-color: #8f4963;
    color: white;
    text-align: center;
    padding: 10px;
}